
- content_for(:title) { title 'Blog', current_page.title }

= wrap_layout :blog do
  %article
    %h1.text-center= link_to current_page.title, current_page
    = yield
    = partial 'partials/blog_post_tags', :locals => { :article => current_page }
      
  .row
    .column.small-6
      - if current_page.previous_article
        %a.left{ href: url_for(current_page.previous_article) } &larr; #{ current_page.previous_article.title }
    .column.small-6
      - if current_page.next_article
        %a.right{ href: url_for(current_page.next_article) } #{ current_page.next_article.title } &rarr;