!!! 5
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ]    <html class="ie7" lang="en">
/[if IE 8 ]    <html class="ie8" lang="en">
/[if IE 9 ]    <html class="ie9" lang="en">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en">

%head
  %meta{ :charset => "utf-8" }

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "initial-scale=1.0" }

  %title= content_for?(:title) ? yield_content(:title) : title

  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "vendor/custom.modernizr"

%body
  .off-canvas-wrap
    .inner-wrap
      %a.exit-off-canvas
      %aside.left-off-canvas-menu
        %ul.off-canvas-list
          %li
            %a{href: url_for("/about-me.html")} About Me
          %li
            %a{href: "/opera"} My Opera Site
        %ul.off-canvas-list
          %li
            %label Blog  
          - blog.articles[0...5].each do |article|
            %li= link_to article.title, article
        %ul.off-canvas-list
          %li
            %label Elsewhere
          %li
            %a{href: 'http://twitter.com/HughJampton', target: '_blank' } Twitter
          %li
            %a{href: 'http://app.strava.com/athletes/allegromanontroppo', target: '_blank' } Strava
          %li
            %a{href: 'https://github.com/allegromanontroppo', target: '_blank' } Github
          %li
            %a{href: 'http://www.thisismyjam.com/HughJampton', target: '_blank' } This Is My Jam
          %li
            %a{href: 'http://leningrad-velo.herokuapp.com/', target: '_blank' } Leningrad Velo
        
      %nav.tab-bar.show-for-small
        %section.left-small
          %a.left-off-canvas-toggle.menu-icon
            %span
        %section.right.tab-bar-section
          %h1 Mark Holland

      .main-section
        .contain-to-grid.hide-for-small
          %nav.top-bar{ 'data-topbar' => '' }
            %ul.title-area
              / Title Area
              %li.name
                %h1= link_to "Mark Holland", "/index.html"
              / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alonex
            
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                %li.divider.hide-for-small
                %li
                  %a{href: "/opera"} My Opera Site
      
                %li.divider
                %li.has-dropdown{ :class => ('active' if current_page.url.start_with? '/blog') }
                  %a{href: url_for("/index.html")} Blog
                  %ul.dropdown            
                    - blog.articles[0...5].each do |article|
                      %li{ :class => ('active' if current_page.url.start_with? url_for(article)) }= link_to article.title, article

                %li.divider
                %li{ :class => ('active' if current_page.url.start_with? '/about-me') }
                  %a{href: url_for("/about-me.html")} About Me

                %li.divider
                %li.has-dropdown{ :class => ('active' if current_page.url.start_with? '/portfolio') }
                  = link_to 'Portfolio', '/portfolio.html'
                  %ul.dropdown
                    - data.portfolio.each do |portfolio_item|
                      %li{ :class => ('active' if current_page.url.start_with? "/portfolio/#{ portfolio_item.name.parameterize  }") }= link_to portfolio_item.name, "/portfolio/#{ portfolio_item.name.parameterize  }.html"

                %li.divider
                %li.has-dropdown
                  %a{href: '#'} Elsewhere
                  %ul.dropdown
                    %li
                      %a{href: 'http://twitter.com/HughJampton', target: '_blank' } Twitter
                    %li
                      %a{href: 'http://app.strava.com/athletes/allegromanontroppo', target: '_blank' } Strava
                    %li
                      %a{href: 'https://github.com/allegromanontroppo', target: '_blank' } Github
                    %li
                      %a{href: 'http://www.thisismyjam.com/HughJampton', target: '_blank' } This Is My Jam
                    %li
                      %a{href: 'http://leningrad-velo.herokuapp.com/', target: '_blank' } Leningrad Velo

        - if content_for?(:hero) 
          %section#hero
            .row
              .column
                %h1= yield_content(:hero)

        .main= yield
  
        %aside#this_is_my_jam
        %footer
          .row
            .column.small-6.medium-4.medium-push-2
              %ul.no-bullet
                %li
                  %h4 Home
                %li
                  %a{href: "/opera"} My Opera Site
                %li
                  %a{href: url_for("/index.html")} Blog
                %li
                  %a{href: url_for("/about-me.html")} About Me
                %li
                  %a{href: url_for("/portfolio.html")} Portfolio
            
            .column.small-6.medium-4.medium-pull-2
              %ul.no-bullet
                %li
                  %h4 Abroad
                %li
                  %a{href: 'http://twitter.com/HughJampton', target: '_blank' } Twitter
                %li
                  %a{href: 'http://app.strava.com/athletes/allegromanontroppo', target: '_blank' } Strava
                %li
                  %a{href: 'https://github.com/allegromanontroppo', target: '_blank' } Github
                %li
                  %a{href: 'http://www.thisismyjam.com/HughJampton', target: '_blank' } This Is My Jam
                %li
                  %a{href: 'http://leningrad-velo.herokuapp.com/', target: '_blank' } Leningrad Velo
            
        %footer.credit
          .row
            .column
              %ul.no-bullet
                %li &copy; 2015 Mark Holland
                %li 
                  Site powered by
                  %a{ href: 'http://middlemanapp.com/', target: '_blank' } Middleman
            
            
        
  = javascript_include_tag '//code.jquery.com/jquery-2.0.3.min.js'          
  :javascript
    window.jQuery || document.write('<script src="/javascripts/vendor/jquery-2.0.3.min.js"><\/script>')
  = javascript_include_tag "application"
  
  = yield_content :javascripts
  
  %script#this_is_my_jam_template{type: "text/x-handlebars-template"}
    <div style="background-image:url({{ background }})">
    .row
      .column.medium-8.medium-centered.large-6
        <a href="{{ url }}" target="_blank">
        %table.small-12
          %tr
            %td.small-5 <img  src="{{ jamvatarMedium }}" >
            %td.small-7
              %h5.subheader.text-center My current jam is<br>{{ title }} by {{ artist }}
        </a>
    </div>