---
  layout: portfolio
  title: Portfolio
---

- content_for(:title) { title current_page.data.title }
- content_for(:hero) { current_page.data.title }

%ul.small-block-grid-2.medium-block-grid-3
  - data.portfolio.each do |portfolio_item|
    %li
      .panel.text-center
        = link_to "/portfolio/#{ portfolio_item.name.parameterize }.html" do 
          %h4= portfolio_item.name
          = image_tag "/images/portfolio/#{ portfolio_item.name.parameterize }/thumb.png"